@(currentPage: com.avaje.ebean.Page[Product])
@main("Products catalogue") {
    <h1>All products</h1>
    <script>
    function del ( urlToDelete ) {
        $.ajax ( {
            url : urlToDelete,
            type : 'DELETE',
            success : function ( results ) {
                // Refresh the page
                location.reload ( ) ;
            }
        } ) ;
    }
    $(function(){

    })
    </script>
 
    <div id="pagination" class="pagination">
        @if(currentPage.hasPrev) {
            <li>
     <a href="@routes.Products.list(currentPage.getPageIndex - 1)">&larr;</a>
            </li>
        } else {
            <li class="disabled"><a>&larr;</a></li>
        }
        <li class="active"><a>
            @currentPage.getDisplayXtoYofZ(" - ", " / ")</a></li>
        @if(currentPage.hasNext) {
            <li>
     <a href="@routes.Products.list(currentPage.getPageIndex + 1)">&rarr;</a>
            </li>
        } else {
            <li class="disabled"><a>&rarr;</a></li>
        }
    </div>
 
   <table class="table table-striped table-hover">
        <thead>
            <tr class="success">
                <th>EAN</th>
                <th>Name</th>
                <th>Description</th>
                <th>Date</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        @for(product <- currentPage.getList()) {
            <tr class="danger">
                <td><a href="@routes.Products.details(product)" data-toggle="tooltip" data-placement="down" data-original-title="Mã số sản phẩm">@product.ean</a></td>
                <td><a href="@routes.Products.details(product)" data-toggle="tooltip" data-placement="right" data-original-title="Tên sản phẩm">@product.name</a></td>
                <td><a href="@routes.Products.details(product)" data-toggle="tooltip" data-placement="top" data-original-title="Mô tả">@product.description</a></td>
                <td>@if(product.date != null) {
                    @product.date.format("dd-MM-yyyy")
                }
                </td>
                <!-- <td><a onclick="del ( '  @routes.Products.delete(product.ean) ')">
                <span class="glyphicon glyphicon-trash"></span>
                </a>
                </td> -->
                <td>
                  <span class="glyphicon glyphicon-trash" data-toggle="modal" data-target="#myModal"></span>
                </td>
                <div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                  <div class="modal-dialog">
                    <div class="modal-content">
                      <div class="modal-header">
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                        <h4 class="modal-title" id="myModalLabel">Modal title</h4>
                      </div>
                      <div class="modal-body">
                        ...
                      </div>
                      <div class="modal-footer">
                        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                        <a onclick="del(' @routes.Products.delete(product.ean)')">
                            <button type="button" class="btn btn-primary">@routes.Products.delete(product.ean)</button>
                        </a>
                      </div>
                    </div>
                  </div>
                </div>
                
            </tr>
        }
        </tbody>
    </table>
    <a href="@routes.Products.newProduct()" class="btn btn-primary">New Product</a>
}